<% layout('layout/boilerplate') %>
<div class="py-5">
    <div class="container">
      <div class="d-flex justify-content-around">
        <% for(let rev of reviewers){ %>
        <div class="card" style="width: 18rem;">
        
        <div class="card-body">
          <img src="<%= rev.img %> " class="img-thumbnail" alt="...">
            <h5 class="card-title"><%=rev.name %></h5>
            <h6 class="card-subtitle text-muted">Date of Birth:<%=rev.dob%></h6>
              <p class="card-text p-y-1">Username:<%=rev.username%></p>
            <form action="/reviewer/<%=rev.reviewer_id%>/edit">
              <div class="d-grid gap-2">
                <button type="submit" class="btn-btn" id="edit">Edit</button>
                </div>
            </form>
            <br>
            <form action="/reviewer/<%=rev.reviewer_id%>/delete" method="POST">
               <div class="d-grid gap-2">
                <button type="submit" class="btn-btn" id="log">Delete</button>
                </div>
            </form>
        </div>
        </div>
        
        <%}%>
      </div>
    </div>
  </div>

